.top_banner{
	display: flex;
	background-color: #5d1214;
	width: 100%;
	height: 150px;
	align-items: center;
	justify-content: space-between;
}

.cf_logo{
	padding-left: 40px;
}
.fullstack{
	justify-self: flex-end;
	padding-right: 220px;
}

#navbar{
	font-size: 22px;
	font-weight: bold;
	background-color: black;

}

.links{
	margin: 5px;
	padding: 10px;
}

a:link{
	text-decoration: none;
	color: white;
}

a:visited{
	color: white;
	text-decoration: none;
}

a:hover{
	text-decoration: none;
	color: white;
}

.main_top{
	margin: 0 50px;
}

#date{
	margin-top: 5px;
	font-weight: bold;
	color: grey;
	text-align: right;
}

.top_news{
	padding-left: 5px;
	font-size: 22px;
	font-weight: 500;
	background-color: lightgrey;
}


.main_middle{
	display: flex;
	margin: 0 50px;
}

.left{
	height: 100%;
	width: 90%;
}

.row{
	display: flex;
	flex-direction: row;
}

.right{
	min-height: 100%;
	width: 10%;
}

.right > a > img{
	height: 100.5%;
	width: 100%;
}

.mainpics {
	width: 100%;
	height:80%;
}

.pics > p {
	background-color: black;
	color: white;
	padding: 1em;
	font-size: 18px;
	margin-top: -10px;
}

.pics {
	margin-right: 20px;
}

.left > p.top_news {
	width: 98%;}

div.center_banner > a > img {
	display: block;
	width: 80%;
	margin: 20px auto;
}

#main_bottom > div.right > a > img {
	width: 100%;
	height: 636px;
}

#main_bottom > div.left > div.row > div.pics {
	height: 325px;
	width: 600px;
}
#main_bottom > div.left {
	width: 85%;
}

#main_bottom > div.right {
	width: 15%;
	min-height: 100%;
}

#main_bottom > div.left > div.row > div.pics {
	margin-bottom: 0px;
}

#title{
	text-align: center;
	font-size: 32px;
	font-weight: bold;
	padding-top: 25px;
}

#ober {
	display: block;
	width: 800px;
	margin: 25px auto 0px auto;
}

.short {
	font-weight: bold;
	margin-bottom: 20px;
	font-size: 24px;
}

.cont {
  background-color: #cccccc;
  background-image: linear-gradient(lightgrey, white);
}

content > .cont > p {
	text-align: left;
	font-size: 23px;
	margin: 0 200px 20px 75px;
}

#underline {
	text-align: center;
	font-size: 14px;
	font-style: italic;
	margin-top: 3px;
}

#highlighted {
	color: white;
	background-color: black;
	padding: 6px;
}

#lastpar {
	font-style: italic;
	margin-bottom: 0;
	padding-bottom: 10px;
}

footer {
	background-color: black;
	padding: 1em;
}

footer > img {
	display: block;
	margin: 1em 20px 1em auto;
}

footer > p{
	color: white;
	text-align: center;
	margin-bottom: 0;
	font-size: 1.1em;
}